@tailwind base;
@tailwind components;
@tailwind utilities;

/* Spin Animation */
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* Ping Animation */
@keyframes ping {
    0%,
    100% {
        transform: scale(1);
        opacity: 0.6;
    }

    50% {
        transform: scale(1.5);
        opacity: 0;
    }
}

/* Fade Circle Animation */
@keyframes fade-circle {
    0%,
    39%,
    100% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }
}